﻿body{
	background: #e3ffff;}
table{	text-align: center;
	margin-left: auto;
	margin-right: auto;

	background: #ffffff;
	border-top: 5px solid #7e7e7e;
	margin-top: 5%;

	
font: 18px Tahoma, sans-serif;
	
	border: 4px solid black;

	border-radius: 10px;

	width: 30%;}
 
a {
	text-decoration: none;
}