﻿<!DOCTYPE html>
<html>
<head>
    <title>АНКЕТА</title>
    <STYLE>
    body{

	background-image: url("views/cats01.jpg");
    }
    table{

	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid black;

	border-radius: 15px;
    }
    </style>
    <meta charset="utf-8" />
</head>
<body>
<TABLE background="#FFFFFF"><TR><TD>
    <center><h1>АНКЕТА</h1></center>
	<center><h2>Немного о вас</h2></center>
     <form action="/anketa" method="POST">
        <input type="hidden" name="login" value="{{user.login}}" />
	<h3>Вы занимаетесь спортом?</h3>
	<select name="q1">
		<option value="0"></option>
		<option value="1">да</option>
		<option value="2">нет</option>
		<option value="3">иногда</option>

	</select><br>
	<h3>Вы любите готовить?</h3>
	<select name="q2">
		<option value="0"></option>
		<option value="1">да</option>
		<option value="2">нет</option>
		<option value="3">лень</option>
	</select>
	<div class="quizsection"> 
	    <h3>Где вы предпочитаете отдыхать?</h3>
	        <input name="q3" value="1" type="radio" checked="checked" class="answer" /> дома <br>
	        <input name="q3" value="2" type="radio" class="answer" /> на море <br>
 	        <input name="q3" value="3" type="radio" class="answer" /> в лесу <br>
  	        <input name="q3" value="4" type="radio" class="answer" /> в центре города <br>
	</div>
	<div class="quizsection"> 
	    <h3>Каких домашних животных вы предпочитаете?</h3>
	        <input name="q4" value="1" type="radio" checked="checked" class="answer" /> кот <br>
	        <input name="q4" value="2" type="radio" class="answer" /> собака <br>
 	        <input name="q4" value="3" type="radio" class="answer" /> хомяк <br>
  	        <input name="q4" value="4" type="radio" class="answer" /> попугай <br>
	        <input name="q4" value="5" type="radio" class="answer" /> рыбки <br>
    	        <input name="q4" value="6" type="radio" class="answer" /> другое <br>
    	        <input name="q4" value="7" type="radio" class="answer" /> я их не люблю <br>
	</div>
	    <h3>Какие фрукты вы любите больще всего?</h3>
		<label><input type="checkbox" checked="checked" id ="1" name="ba">Бананы</label><br>
		<label><input type="checkbox" id ="2" name="ap">Аппельсины</label><br>
		<label><input type="checkbox" id ="3" name="ib">Яблоки</label><br>
		<label><input type="checkbox" id ="4" name="gr">Груши</label><br><br>

	<center><button type="submit">сохранить</button><br><br></center>
     </form>
</td></tr>
</table>
</body>
</html>
