﻿<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8" />
    <script>
    </script>
</head>
<body>
<TABLE><TR><TD>
    <h1>ВХОД</h1>
     <form method="POST">
        <label>Ваш логин</label>
        <input name="login" class="field" required autocomplete="off"/><br><br>
        <label>Пароль</label>
        <input name="password" class="field" required autocomplete="off"/><br><br>
	<div id="message" style="display:none"><p>Если поля заполнены, а вход не происходит, значит неверный логин или пароль </p></div>
    <button><a href ="/create">регистрация</a></button>
    <input type="submit" value="войти" onClick="msgbox()"/><br><br>
     </form>
<script>
function msgbox(){
	message.style.display = 'block'
}
</script>
</td></tr></table>
</body>
<html>