﻿<!DOCTYPE html>
<html>
<head>
    <title>РЕГИСТРАЦИЯ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
    <style>.field{width:180px;}</style>
</head>
<body onload="display()">
<TABLE><TR><TD>
    <h1>РЕГИСТРАЦИЯ</h1>
     <form method="POST">
        <label>Имя</label>
        <input name="userName" type="text" class="field" required autocomplete="off"/><br><br>
        <label>Фамилия</label>
        <input name="userFam" type="text" class="field" required autocomplete="off"/><br><br>
	<label>Отчество</label>
        <input name="userOtch" type="text" class="field" autocomplete="off"/><br><br>
        <label>Серия паспорта</label>
        <input name="pasSeries" maxlength="4" minlength="4" class="field" required autocomplete="off"/> <br><br>
	<label>Номер паспорта</label>
        <input name="pasNumber" maxlength="6" minlength="6" class="field" required autocomplete="off"/> <br><br>
        <label>Когда выдан</label>
        <input name="pasDataV" type="date" max="2021-05-01" min="1970-01-01" class="field" required autocomplete="off"/><br><br>
        <label>Кем выдан</label>
        <input name="pasVydan" type="text" class="field" required autocomplete="off"/><br><br>
        <label>Ваш логин</label>
        <input name="login" class="field" required autocomplete="off"/><br><br>
	<label>Ваш пароль</label>
        <input readonly name="password" class="field" autocomplete="off"/><br><br>
<script>
function display() {
var StringPassword = "",
        StringSymbols = "1234567890.,@!#$%&*()_-=+/qwertyuiopasdfghjklzxcvbnm",
    	CountRandom = 10;
	for (var i = 0; i<CountRandom; i++) {
         	Random = Math.round(Math.random()*StringSymbols.length);
    		var RandomUpper = Math.round(Math.random()*10);
         	if (RandomUpper>=5) {StringPassword += StringSymbols[Random].toUpperCase();}
        	if (RandomUpper<5) {StringPassword += StringSymbols[Random].toLowerCase();}  
	}
	document.getElementsByName('password')[0].value = StringPassword;   
}

</script>
	<div id="message" style="display:none"><p>Если при верном заполнении данных регистрация не происходит, значит данный логин уже занят. Замените его на другой! </p></div>
        <button><a href="/">Авторизация</a></button>
	<input type="submit" value="зарегистрироваться" onClick="msgbox()"/><br><br>
     </form>
<script>
function msgbox(){
	message.style.display = 'block'
}
</script>
</td></tr></table>
</body>
</html>

