﻿body{
	text-align: center;

	background-color: #bbffbb;

	color: #000000;
	font: 18px Tahoma, sans-serif;
	background-color: #ffffff;

	border-top: 5px solid #7e7e7e;
	margin-top: 17%;

	border: 4px solid black;

	border-radius: 10px;
	text-align: center;

	width: 30%;}

input[type="text"] {
	background-color: #ffffee;

	border: 3px solid #e7e7e7;

	color: #b2b2b2;

	vertical-align: top;
}

button {
	color: #ffffaa;

	background-color: #ffffff;

	
border: none;
	font: 18px, sans-serif;
}

p {
	margin: 25px 0;
}

a {
	text-decoration: none;
}