﻿<!DOCTYPE html>
<html>
<head>
    <title>личный кабинет</title>
    <link href="style.css" rel="stylesheet" type="text/css">

    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body onLoad="dater()">
<TABLE><TR><TD>
    <h1>ЛИЧНЫЙ КАБИНЕТ</h1>
     <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{user.id}}" />
        <label>Имя</label>
        <input name="userName" class="field" value="{{user.userName}}" autocomplete="off"/><br><br>
        <label>Фамилия</label>
        <input name="userFam" class="field" value="{{user.userFam}}" autocomplete="off"/><br><br>
	<label>Отчество</label>
        <input name="userOtch" class="field" value="{{user.userOtch}}" autocomplete="off"/><br><br>
        <label>Серия паспорта</label>
        <input name="pasSeries" value="{{user.pasSeries}}" maxlength="4" minlength="4" class="field" autocomplete="off"/> <br><br>
	<label>Номер паспорта</label>
        <input name="pasNumber" value="{{user.pasNumber}}" maxlength="6" minlength="6" class="field" autocomplete="off"/> <br><br>
        <label>Когда выдан</label>
        <input name="pasDataV" type="date" max="2021-05-01" min="1970-01-01" class="field" autocomplete="off"/><br><br>
        <label>Кем выдан</label>
        <input name="pasVydan" class="field" value="{{user.pasVydan}}" autocomplete="off"/><br><br>

        <input type="submit" value="сохранить изменения" />
	<button><a href ="/">выйти</a></button>
	<button><a href ="/anketa">заполнить анкету</a></button><br><br>
     </form>
<Script>
function dater() {
let now = "{{user.pasDataV}}";
let nowY=+now.substr(11,4);
let nowD=+now.substr(8,2);
let nowMStr=now.substr(4,3);
let nowM="";

switch (nowMStr) {
	case 'Jan': nowM="01"; break;
	case 'Feb': nowM="02"; break;
	case 'Mar': nowM="03"; break;
	case 'Apr': nowM="04"; break;
	case 'May': nowM="05"; break;
	case 'Jun': nowM="06"; break;
	case 'Jul': nowM="07"; break;
	case 'Aug': nowM="08"; break;
	case 'Sep': nowM="09"; break;
	case 'Oct': nowM="10"; break;
	case 'Nov': nowM="11"; break;
	case 'Dec': nowM="12"; break;
}

let recDate = new Date(nowY,+nowM-1,nowD+1).toISOString().substring(0, 10);
document.getElementsByName('pasDataV')[0].value = recDate;
}
</script>
</td></tr></table>
</body>
</html>
